body{
    padding:0;
    margin:0;
    max-height: 100vh;
}



#top_bar{
    width:100%;
    height: 100px;
    background-color: #9ad7a4;
}

#live_container{
    width:100%;
    min-height: calc(100vh - 103px);
    position: relative;
    display: inline-flex;
    flex-direction: row ;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#openProductShowBtn p{
    margin: 0;
    padding:0;
    width: 80px;
    height:80px;
    padding-bottom: 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#openProductShowBtn{
    width: 80px;
    height: 80px;
    position: absolute;
    top:50px;
    left:100px;
    font-size: 40px;
    padding: 0;
    color: white;
    background-color: #9ad7a4;
    border-radius: 40px;
    z-index: 40001;
    text-align: center;
    cursor: pointer;
    padding:0;
    margin:0;
}

#productShow{
    height: calc(100vh - 600px);
    min-height: 700px;
    width: 360px;
    position: absolute;
    top:50px;
    left:100px;
    z-index: 40000;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    visibility: visible;
}

#productDescription{
    width: 100%;
    min-height: 500px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#productimg{
    width: 280px;
    height: 280px;

}


.productimg img{
    object-fit: cover;
}

.productimg{
    cursor: pointer;
}


#productlist{
    width: 80%;
    height: 240px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;

}

#cartbtn-container{
    width: 90%;

}

#addtoCart{
    width: 175px;
    height: 55px;
    font-size: 20px;
    background-color: rgb(0, 190, 190);
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    cursor: pointer;
    overflow:hidden;
    visibility: hidden;
}

#addtoCart:hover{
    background-color: #9ad7a4;
}

#checkvid{
    height: 95px;
}



#addtoCart div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#addtoCart img{
    width: 36px;
    height: 36px;
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 5px;
    }
    ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin:80px 0 5px 0;
    }
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgb(219,219,219);
    }
 


.mainitem{
        width: 400px;
        height: 450px;
        display: inline-flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;


}

#mainimg{
    max-width: 280px;
    max-height: 280px;
}

.item{
    width: 400px;
    min-height: 140px;
    max-height: 180px;
    margin-right: 20px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.productimg{
    width: 140px;
    min-height: 140px;
    max-height: 180px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.productimg img{
    width: 140px;
    height: 200px;
}

#details{
    width: 260px;
}

#details h1, #details p{
    margin: 0;
}



#details p{
    font-size: 20px;
    text-align: left;
    display: inline-block;
}

#details #price{
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

#live{
    position: absolute;
    height: calc(100vh - 100px);
    top:0;
    left:0;
    z-index: 1000;
    width: 100%;
    background-color: #333333;
}


#notLiveWord{
    position: fixed;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    width: 100%;
    font-size: 30px;
    color: white;
    text-align: center;
    z-index: 9000;
}


#video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 100px);
    display: inline-flex;
    align-items: center;
    transform-origin: center;
    flex-direction: column;
}


#live_video{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 600px;
    z-index: 20000;
}

#live_video input{
    padding: 0;
}

#video{
    width: 100%;
    max-height: calc(100vh - 100px);
    z-index: 20000;
}


#liveCheckButton{
    position: absolute;
    top:100px;
    left:50%;
    z-index: 9999;
    max-width: 500px;
    height: 160px;
    font-size: 20px;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

#liveicon-container{
    background-color: rgb(128, 128, 128);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}

#liveword{
    height: 40px;
    width: 140px;

    font-size: 24px;
    color: white;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



#circle{
    width: 24px;
    height: 24px;
    border-radius: 20px;
    border: 2px white solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-right: 5px;
}

#innercircle{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border-width: 0px;
    background-color: white;
    margin: 0;
    padding: 0;
}
#circle_text{
    margin-left: 10px;
    font-size: 24px;
}

#chat{
    height: calc(100vh - 100px);
    width: 500px;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%,-100%);
    z-index: 2000;
    height: 90vh;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}


#livestatus{
    word-wrap:normal;
}

#msglog{
    width: 100%;
    overflow: auto;
    padding:0;
    margin-top: 0;
}

.msglog{
    opacity: 100%;
}

.msglog:hover{
    opacity: 100%;
}

.msglog_opacity{
    opacity: 20%;
}

.msglog_opacity:hover{
    opacity: 100%;
}

#msglog img{
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(20, 20, 20);    
}




.hostMsg{
    text-align: left;
    color:white;
    margin-top: 10px;
    margin-left: 6px;
}

.hostMsg span{
    display: inline-block;
    background-color: #9ad7a4;
    border-radius: 5px;
    font-size: 20px;
    max-width: 80%;
    border-radius: 20px;
    min-height: 32px;
    line-height: 32px;
    padding: 0 15px;
    word-wrap: break-word;
}


.hostMsg-img{
    margin-top: 10px;
    width:100%;
    display:inline-flex;
    justify-content: flex-start;
}

.hostMsg-img img{
    max-width: 200px;

}

.userMsg{
    text-align: right;
    color:white;
    margin-top: 10px;
    margin-right: 6px;
}

.userMsg span{
    display: inline-block;
    background-color: rgb(101, 101, 101);
    font-size: 20px;
    max-width: 80%;
    border-radius: 20px;
    min-height: 32px;
    line-height: 32px;
    padding: 0 15px;
    word-wrap: break-word;
}

#sendmsg-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#sendMessage{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#sendMessage input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    z-index: 30002;
    padding-left: 10px;
}


#sendMsgBtn{
    font-size: 14px;
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 5px;
    background-color: #9ad7a4;
    color: white;
    padding: 0;
}



#msg_status_div{
    position: absolute;
    top:100%;
    z-index: 300002;
    transform: translate(0,-100%);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#msg_status{
    font-size:20px;
    line-height: 10px; 
    height:10px;
    width: 100px;
    color: red;
    visibility: hidden;
}

#product_name{
    white-space:nowrap;
    display: block;
}

#price{
    font-weight: bolder;
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
}


#vidplay{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-image: url('/images/play.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 30002;
    opacity: 45%;
    cursor: pointer;
}

#vidplay:hover{
    opacity: 100%;
}




@media screen and (max-width: 1500px){
#notLiveWord{
        font-size: 24px;
    }

}


@media screen and (min-height: 1500px){
    #msglog{
        height: 100%;
    }
}



@media screen and (max-height: 1500px) {

    #chat{
        height: calc(100vh - 100px);
    }
    #msglog{
        height: 100%;
    }

}


@media screen and (min-width: 750px) and (max-width: 1000px) {

    #chat{
        width: 100%;
        height: calc(100vh - 100px);
    }
    #msglog{
        width: 100%;
        height: 40%;
    }
}

@media screen and (min-width: 500px) and (max-width: 750px) {

    #chat{
        width: 100%;
        height: calc(100vh - 100px);
    }

    #msglog{
        height: 40%;
        width: 100%;
    }

}


@media screen and (min-width: 500px) and (max-width: 1000px) {
    

    #productShow{
        max-height: 800px;
    }

    #sendMessage input{
        width: 100%;
    }
    #notLiveWord{
        font-size: 20px;
    }
    video{
        padding: 0;
    }

    .userMsg span, .hostMsg span{
        font-size: 18px;
    }

    .hostMsg-img img{
        width: 100px;
    
    }

    #liveCheckButton{
        flex-direction: column;
    }
    #liveicon-container{
        margin: 0;
    }
    .msglog_opacity{
        opacity: 20%;
    }

}



@media screen and (max-width: 500px) {


    #chat{
        width: 100%;
        height: calc(100vh - 100px);
    }
    #msglog{
        width: 100%;
        height: 40%;
    }

    #roomlistbtn{
        margin-left: 5px;
    }

    #liveCheckButton{
    flex-direction: column;
    }
    #liveicon-container{
        margin: 0;
    }
}


@media screen and (min-width: 500px) and (max-width: 600px){

    #top_bar #rightside{
        padding-right: 0;
    }

    #top_bar #rightside #cartlogo, #top_bar #rightside #bigheadlogo{
      margin-right: 4px;
  }
  
  }
  

/*
@media screen and (min-width:1920px) and (max-width:3000px){
    #details h1{
        font-size: 36px;
    }

    #details #price{
        font-size: 36px;
        margin-bottom: 14px;
    }

    #details p{
        font-size: 24px;
    }
}
*/