@media screen and (max-width: 1920px) {

    #productShow{
        height: calc(100vh - 850px);
        min-height: 540px;
        width: 300px;
        top:5px;
        left:5px;
        background-color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 40px;
        visibility: visible;
    }

    #openProductShowBtn{
        width: 80px;
        height: 80px;
        position: absolute;
        top:5px;
        left:5px;
        font-size: 50px;
        padding: 0;
        color: white;
        background-color: #9ad7a4;
        border-radius: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    #productimg{
        width: 200px;
        height: 200px;
    }

    #productimg img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .mainitem{
        width: 320px;
        min-height: 500px;
        display: inline-flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
    }

    #productDescription{
        width: 100%;
        min-height: 500px;
    }

    .item, .productimg{
        height: 100px;
    }


}



@media screen and (max-width: 1920px) and (max-height: 1440px) {

    .mainitem{
        justify-content: center;
    }

    #productlist{
        height: 160px;
        max-width: 90%;
        margin-top: 0;
    }

    .mainitem{
        max-height: 450px;
        min-height: 0;
    }
    
    #cartbtn-container{
        width: 90%;
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    #addtoCart{
        margin-top: 10px;
    }

    #product_name{
        display: block;
        font-size: 24px;
        margin: 0;
        margin-top: 10px;

    }
    #price{
        display: inline;
        font-size: 24px;
        margin: 0;
    }


    .productimg{
        background-size: auto 80%;
        width: 110px;
    }

    #productDescription{
        width: 100%;
        min-height: 400px;
        margin-bottom: 0;
    
    }

}

