
<div id='top_bar'>
    <div id='leftside'>
        <div id='watchbuylogo'>
        </div>
        <div id='roomlistbtn'>

        </div>
    </div>
    <div id='rightside'>
        <div id='bigheadlogo' class='menulogo' style="background-image: url('<%= loginStatus.logo %>');"></div>
        <div id='cartlogo' class='menulogo'><div id='reddot' style="visibility:hidden"></div></div>
        <div id='menulogo' class='menulogo'>
        </div>
    </div>
</div>

<script>
    document.getElementById('menulogo').addEventListener('click', function () {
        document.getElementById('menulist').style.visibility = 'visible';
    })

    document.getElementById('menulogo_in_menulist').addEventListener('click', function () {
        document.getElementById('menulist').style.visibility = 'hidden';
    })

    document.getElementById('watchbuylogo').addEventListener('click', function () {
        window.location = '/';
    })

    document.getElementById('roomlistbtn').addEventListener('click', function () {
        window.location = '/roomlist';
    })

    document.getElementById('basicinfo_btn').addEventListener('click', function () {
        window.location = '/profile';
    })

    document.getElementById('bigheadlogo').addEventListener('click', function () {
        window.location = '/profile';
    })

    document.getElementById('cartlogo').addEventListener('click', function () {
        window.location = '/profile/1';
    })



    $.ajax({
        url: '/profile/getProductsinCart',
        type: "POST",
        data: {
            email: '<%= loginStatus.email %>'
        },
        success: function (allproducts) {
            if(allproducts.length > 0){
                document.getElementById('reddot').style.visibility='visible';
            }else{
                document.getElementById('reddot').style.visibility='hidden';
            }
        }
    })
</script>
