<div id='menulist' style="visibility: hidden;">
    <div id='icon_container'>
        <div id='menulogo_in_menulist'>
        </div>
    </div>
    <div id='list_container'>
        <div id='basicinfo_btn' class='menuitem'>
            基本資訊
        </div>
        <div id='cartList' class='menuitem'>
            購物車
        </div>
        <div id='checkOrder' class='menuitem'>
            我的訂單
        </div>
        <div id='logout' class='menuitem'>
            登出
        </div>
    </div>
</div>

<script>
    document.getElementById('logout').addEventListener('click', function(){
        $.ajax({
        url: '/signin/logout',
        type: "POST",
        dataType: "json",
        data: {
            action:'logout'
        },
        success: function (req) {
          window.location = '/signin';
        }
      })
    })

    document.getElementById('cartList').addEventListener('click', function(){
        window.location ='/profile/1'
    })

    document.getElementById('checkOrder').addEventListener('click', function(){
        window.location ='/profile/2'
    })
</script>