<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/hompage.css' />
</head>

<body>
  <div id="main_title">
    <p>你是誰</p>
  </div>
  <div id='background'>

    <div id="roles">
      <div id='host-ani'>
        <div id='host'>
          <div><img src="/images/DJ_br.png"></div>
          <div class='title'>直 播 主</div>
        </div>
      </div>
      <div id='user-ani'>
        <div id='user'>
          <div><img src="/images/user_br.png"></div>
          <div class='title'>使 用 者</div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>