<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/hompage.css' />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
  <%- include("./model/header/call-headers.ejs") %>
  <div id='slogan'>
    <h3>Watch carefully,</h3>
    <h3>Buy quickly</h3>
  </div>



  <div id='background'>
    <div id='icons-container'>
    <div>
      <div id='logo'>
        <img src='/images/favicon.png'>
        <h3>WatchBuy</h3>
      </div>
    </div>
    <div id='signs'>
      <div>
        <button id='signup' class='sign_btn'>Sign up</button>
      </div>
      <div>
        <button id='signin' class='sign_btn'>Sign in</button>
      </div>
    </div>
    </div>
  </div>
</body>


<script>
  document.getElementById("signup").addEventListener("click", function () {
    window.location = "/signup";
  });
</script>

<script>
  document.getElementById("signin").addEventListener("click", function () {
    window.location = "/signin";
  });
</script>


</html>