<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/hompage.css' />
</head>

<body>
  <div id='background'>
    <div>
      <button id='signup' class='sign_btn'>Sign up</button>
    </div>
    <div>
      <button id='signin' class='sign_btn'>Sign in</button>
    </div>
  </div>
</body>


<script>
  document.getElementById("signup").addEventListener("click", function () {
    window.location = "/signup";
  });
</script>

<script>
  document.getElementById("signin").addEventListener("click", function () {
    window.location = "/signin";
  });
</script>


</html>