<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/profile.css' />
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>

<body>
    <%- include("./model/header.ejs") %>
    <div id='container'>
    <div id='profileSettingList'>
        <div id='listbox'>
            <div class='topitem profileSettingitem'><p>用戶資訊</p></div>
            <div class='miditem profileSettingitem'><p>購物車</p></div>
            <div class='miditem profileSettingitem'><p>訂單查詢</p></div>
            <div class='bottomitem profileSettingitem'><p>登出</p></div>
        </div>
    </div>
    <div id='settings'>
        <div id='basicinfo'>
            <div id='logo'>
            </div>
            <div id='name'>
                <div class='title'>直播名稱</div>
                <div class='content'></div>
            </div>
            <div id='ID'>
                <div class='title'>直播ID</div>
                <div class='content'></div>
            </div>
            <div id='description'>
                <div class='title'>關於我</div>
                <div class='content'></div>
            </div>
        </div>
    </div>
</div>
</body>

<script>



</script>

</html>