<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
  </head>
  <body>

    <div>1.</div>
    <video controls autoplay="autoplay" id="video"></video>
    <input type="text" />
    <button id="load">Load</button>
    <!-- <div><br>2.</div>
    <video src="http://localhost:8000/live/STREAM_NAME.flv" autoplay="autoplay">
      <source src="rtmp://localhost/live/stream_name" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video> -->
    <script>
        if (flvjs.isSupported()) {
            //document.querySelector("#load").addEventListener("click", function () {            })
                const video = document.getElementById('video');
                //const target = document.querySelector("input").value;
                const flvPlayer = flvjs.createPlayer({
                    type: 'flv',
                    url: `http://localhost:8000/live/hzctony.flv`
                    //url: `rtmp://localhost/live/`
                });
                flvPlayer.attachMediaElement(video)
                flvPlayer.load();
                flvPlayer.play();
        }
    </script>
</body>
</html>
