body{
    background-color: #9ad7a4;
    font-family: "Helvetica Neue";
    padding: 0;
    margin: 0;
    min-width: 1240px;
}

#background{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: black;
    background-image: url('../images/desktop_smaller.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

#icons-container{
    width: 40%;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#signs{
    margin-top: 20px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#slogan{
    position: fixed;
    top : 600px;
    left: 100px;
    z-index: 1000;
    color: black;
    font-size: 50px;
    display: none;
}

#logo{
    color: white;
    font-size: 40px;
    width: 100%;
    display: inline-block;
    text-align: left;
}

#logo h3{
    text-align: center;
    margin:0;
    margin-left:20px;
    padding: 0;
    font-size: 24px;
}

#logo h2, #logo h3{
    margin: 10px;
    margin-left:20px;
    padding: 0;
    color: rgb(80, 80, 80);
}

h1{
    white-space: nowrap;
}

#logo img{
    width: 180px;
 object-fit: cover;
}

.sign_btn{
    margin: 20px;
    margin-top: 0px;
    height: 60px;
    width: 180px;
    background-color: white;
    color: #9ad7a4;
    font-size: 30px;
    font-weight: bold;
    border: white;
    border-radius: 50px;
    cursor: pointer;
}

#signup{
    background-color: #9ad7a4;
    color: white;
}

#signin{
    background-color: #9ad7a4;
    color: white;
}


#signup:hover{
    background-color: rgba(0, 217, 255, 1);

}

#signup:active{
    background-color: white;
    border: 2px rgba(0, 217, 255, 1) solid;
    color: rgba(0, 217, 255, 1);
}

#signin:hover{
    background-color: rgba(0, 217, 255, 1);
}

#signin:active{
    background-color: white;
    border: 2px rgba(0, 217, 255, 1) solid;
    color: rgba(0, 217, 255, 1);
}

@media screen and (max-width: 1440px){
    #logo h2{
        font-size: 36px;
    }

    .sign_btn{
        margin: 10px;
        margin-top: 0px;
        margin-left: 20px;
        height: 50px;
        width: 140px;
        background-color: white;
        color: #9ad7a4;
        font-size: 26px;
        font-weight: bold;
        border: white;
        border-radius: 50px;
    }
    
}