body{
    background-color: #9ad7a4;
    min-width: 800px;
    font-family: "Helvetica Neue";
    padding: 0;
    margin: 0;
}

#background{
    height: calc(100vh - 100px);
    width: 100%;
    min-width: 1200px;
    background-color: black;
    background-image: url('../images/desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#icons-container{
    width: 600px;
    height: 800px;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#signs{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#slogan{
    position: fixed;
    top : 600px;
    left: 100px;
    z-index: 1000;
    color: black;
    font-size: 50px;
    display: none;
}

#logo {
    color: white;
    font-size: 50px;
    width: 600px;
    height: 480px;
    display: inline-block;
    text-align: center;
}

#logo h3{
    text-align: center;
    margin:0;
    padding: 0;
}

h1{
    white-space: nowrap;
}

#logo img{
    width: 320px;
    height: 320px;
}

.sign_btn{
    margin: 20px;
    margin-top: 0px;
    height: 100px;
    width: 200px;
    background-color: white;
    color: #9ad7a4;
    font-size: 40px;
    font-weight: bold;
    border: white;
    border-radius: 50px;
}



.sign_btn:hover{
    background-color: #9ad7a4;
    color: white;
}

