body{
    padding:0;
    margin:0;
}



#top_bar{
    width:100%;
    height: 100px;
    background-color: #9ad7a4;
}

#live_container{
    width:100%;
    min-height: 800px;
    height: calc(100vh - 100px);
    position: relative;
    display: inline-flex;
    flex-direction: row ;
    justify-content: center;
    text-align: center;
    align-items: center;
}


#openProductShowBtn{
    width: 80px;
    height: 80px;
    position: absolute;
    top:50px;
    left:100px;
    font-size: 50px;
    padding: 0;
    color: white;
    background-color: #9ad7a4;
    border-radius: 40px;
    z-index: 12001;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#productShow{
    height: calc(100vh - 500px);
    min-height: 800px;
    width: 480px;
    position: absolute;
    top:50px;
    left:100px;
    z-index: 12000;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    visibility: visible;
}
#productDescription{
    width: 100%;
    min-height: 600px;
    margin-bottom: 12px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#productimg{
    min-width:300px;
}

#productimg img{
max-width: 80%;
max-height: 75%;
}


.productimg img{
    object-fit: cover;
}


#productlist{
    width: 80%;
    height: 240px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    flex-wrap: nowrap;
}

#cartbtn-container{
    width: 90%;
    margin-bottom: 12px;
    padding-bottom: 20px;
    border-bottom: 1px gray solid;
}

#addtoCart{
    width: 175px;
    height: 45px;
    font-size: 20px;
    background-color: rgb(0, 190, 190);
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-top: 40px;
    cursor: pointer;
}

#addtoCart:hover{
    background-color: #9ad7a4;
}



#addtoCart div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#addtoCart img{
    width: 36px;
    height: 36px;
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 5px;
    }
    ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin:80px 0 5px 0;
    }
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgb(219,219,219);
    }
 


.mainitem{
        width: 400px;
        min-height: 550px;
        display: inline-flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;


}

#mainimg{
    max-width: 360px;
    max-height: 360px;
}

.item{
    width: 400px;
    min-height: 140px;
    max-height: 180px;
    margin-right: 20px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.productimg{
    width: 140px;
    min-height: 140px;
    max-height: 180px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.productimg img{
    width: 140px;
    height: 200px;
}

#details{
    width: 260px;
}

#details h1, #details p{
    margin: 0;
}

#live{
    position: absolute;
    height: calc(100vh - 100px);
    top:0;
    left:0;
    z-index: 1000;
    width: 100%;
    min-width: 600px;
    position: relative;
    background-color: #333333;
}


#notLiveWord{
    position: fixed;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    width: 100%;
    font-size: 30px;;
    color: white;
    text-align: center;
    z-index: 9000;
}
#wholeVideoContainer{

}



#video-container{
    width: 100%;
    height: calc(100vh - 100px);
    display: inline-flex;
    align-items: center;
    transform-origin: center;
    flex-direction: column;
}


#live_video{
    position: absolute;
    top: 100%;
    left:0;
    transform: translate(0,-100%);
    width: 100%;
    max-height: calc(100vh - 100px);
    min-height: 800px;
    z-index: 20000;
}

#video{
    width: 100%;
    max-height: calc(100vh - 100px);
    z-index: 20000;
}


#liveCheckButton{
    position: absolute;
    top:100px;
    left:50%;
    z-index: 9999;
    width: 500px;
    height: 160px;
    font-size: 20px;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

#liveicon-container{
    background-color: rgb(128, 128, 128);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}

#liveword{
    height: 40px;
    width: 140px;

    font-size: 30px;
    color: white;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



#circle{
    width: 24px;
    height: 24px;
    border-radius: 20px;
    border: 2px white solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-right: 5px;
}

#innercircle{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border-width: 0px;
    background-color: white;
    margin: 0;
    padding: 0;
}
#circle_text{
    margin-left: 10px;
    font-size: 24px;
}

#chat{
    height: calc(100vh - 100px);
    width: 30%;
    position: absolute;
    padding-top: 30px;
    
    top:0px;
    left: 100%;
    transform: translate(-100%,0);
    z-index: 2000;
    height: 80vh;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    opacity: 35%;
}

#chat:hover{
    opacity: 100%;
}

#msglog{
    height: 80%;
    width: 95%;
    overflow: auto;
    padding:0;
}

#sendMessage{
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}


.hostMsg{
    text-align: left;
    color:white;
    margin-top: 10px;
    margin-left: 6px;
}

.hostMsg span{
    display: inline-block;
    background-color: #9ad7a4;
    border-radius: 5px;
    font-size: 24px;
    border-radius: 20px;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
}


.hostMsg-img{
    margin-top: 10px;
    width:100%;
    display:inline-flex;
    justify-content: flex-start;
}

.hostMsg-img img{
    max-width: 200px;
}

.userMsg{
    text-align: right;
    color:white;
    margin-top: 10px;
    margin-right: 6px;
}

.userMsg span{
    display: inline-block;
    background-color: rgb(101, 101, 101);
    font-size: 24px;
    border-radius: 20px;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
}

#sendmsg-container{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}



#sendMessage{
    width: 100%;
    min-height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


#sendMessage input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}



#sendMsgBtn{
    margin-left: 5px;
    font-size: 16px;
    width: 80px;
    min-width: 80px;
    height: 48px;
    border-radius: 5px;
    background-color: #9ad7a4;
    color: white;
}

#msg_status{
    font-size:20px;
    line-height: 10px; 
    height:10px;
    width: 100px;
    color: red;
    visibility: hidden;
}

#product_name{
    white-space:nowrap;
}

#price{
    font-weight: bolder;
    font-size: 30px;
}






@media screen and (max-height: 1500px) {


    #msglog{
        height: 85%;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1300px) {



    #chat{
        width: 50%;
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {

    #chat{
        width: 70%;
        opacity: 10%;
    }
    #productShow{
        max-height: 800px;
    }
}



@media screen and (min-width: 400px) and (max-width: 700px) {

    #chat{
        width: 100%;
        opacity: 10%;

    }
}



