body{
    padding:0;
    margin:0;
    text-align: center;
}




#container{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;

}



#profileSettingList{
    
    width:40%;
    min-width: 600px;
    display: flex;
    align-items: center;
    height: 100%;
}


#listbox{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.profileSettingitem{
    border: 2px #9ad7a4 solid;
    color: gray;
    width:50%;
    min-width: 450px;
    line-height: 180px;
    cursor: pointer;
}

.profileSettingitem p{
    font-size: 30px;
}
.profileSettingitem p:hover{
    color: #9ad7a4;
}

.topitem{
    border-bottom: 0px;
    border-radius: 120px 120px 0 0;
}

.miditem{
    border-bottom: 0px;
}

.bottomitem{
    border-radius:  0 0 120px 120px;
}

#settings{

    min-width: 1000px;
    height: 100%;
    width:70%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}


#basicinfo{
    padding-top: 120px;
    height:100%;
    width: 40%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#basicinfo #logo{
    width: 256px;
    height: 256px;
    border: 2px #9ad7a4 solid;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

#basicinfo #logo img{
    max-width: 256px;
    max-height: 256px;
    object-fit: contain;
}

#basicinfo #name, #basicinfo #ID, #basicinfo #description, #basicinfo #email{
    width: 512px;
    height: 40px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    font-size: 24px;
}


#basicinfo .title{
    width: 30%;
    color: gray;
}

#logotitle{
    display: inline;
}

#basicinfo .content{
    width: 70%;
    height:100%;
    border: 2px #9ad7a4 solid;
    border-radius: 10px;
    overflow:scroll;
}

#creditCardinput, #totalPrice, #cartDetails{
    box-shadow: 2px 2px 2px gray;
    width: 60%;
    max-width: 700px;
}

#cartDetails{

    height: 500px;
    margin-top: 100px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    overflow: scroll;
}


#cartDetails .peritem{
    height: 300px;
    width: 450px;
    margin-bottom: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#cartDetails .peritem div{
    height: 200px;
    background-color: white;
    margin: 3px;
    font-weight: bold;
}

#cartDetails .peritem .left_pic{
    width : 300px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#cartDetails .peritem .left_pic img{
    max-width : 160px;
    max-height : 160px;
}



#cartDetails .peritem .right_description{
    padding-left: 10%;
    width : 400px;
    text-align: left;
    position: relative;
}

#cartDetails .peritem .right_description .delete{
    height: 30px;
    width : 30px;
    font-size: 16px;
    position: absolute;
    left:calc(100% - 36px);
    color: red;
    top:0;
    z-index: 1000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#cartDetails .peritem .right_description p{
    width : 100%;
}
#cartDetails .peritem .right_description h3{
    width : 100%;
    margin-top: 12px;
}

#totalPrice{
    height: 200px;
    margin-top: 50px;
    background-color: lightgray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
}



#creditCardinput{

    height: 200px;
    margin-top: 50px;
    background-color: lightgray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#creditCardinput div{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


#creditCardinput .fakebutton{
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
}

#creditCardinput .lastbutton{
    width: 60px;
    height: 50px;
    margin: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
}

#buy{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 195, 255);
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
}

#UploadDetails{
    width: 40%;
    height: 800px;
    margin-top: 120px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
}

#UploadDetails form{
    height: 800px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0;
}

#UploadDetails .product_li{
    background-color: white;
    width: 80%;
    height: 80px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    box-shadow: 2px 2px 2px gray;
}

#UploadDetails .left_li{
    height: 50px;
    width:30%;
    font-size: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px gray solid;

}

#UploadDetails .left_li p{
    margin: 0;

}

#UploadDetails .right_li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:70%;
}

#UploadDetails .right_li input{
    height: 48px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: rgb(120,120,120);
}

#UploadDetails .right_li input::placeholder {
    color: lightgray;
    opacity: 1;
  }
  

#UploadDetails .right_li select{
    height: 48px;
    width: 120px;
    text-align: center;
    border: none;
    color: rgb(120,120,120);
    background-color: white;
    border-radius: 6px;
    font-size: 20px;
}



