body{
    padding:0;
    margin:0;
    text-align: center;
}




#container{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;

}



#profileSettingList{
    
    width:60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
}


#listbox{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    min-width: 140px;
    margin: 20px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.profileSettingitem{

    color: gray;
    width:100%;
    line-height: 30px;
    cursor: pointer;
}

.profileSettingitem p{
    font-size: 18px;
}
.profileSettingitem p:hover{
    color: #9ad7a4;
}

.topitem{
    border-bottom: 0px;
    border-radius: 20px 20px 0 0;
}

.miditem{
    border-bottom: 0px;
}

.bottomitem{
    border-radius:  0 0 20px 20px;
}

#settings{

    min-width: 1000px;
    height: 100%;
    width:100%;
    text-align: center;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
}


#basicinfo{
    min-height: 650px;
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    margin: 20px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#basicinfo #logo{
    width: 256px;
    height: 256px;
    border: 2px #9ad7a4 solid;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    position: relative;
    cursor: pointer;
}

#basicinfo #logo label{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 40000;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    visibility: hidden;
    border-radius: 50%;
    
}

#basicinfo #logo label p{
 background-color: rgb(120,120,120);
 padding: 0 5px;
 border-radius: 10px;
}


#basicinfo #logo img{
    position: absolute;
    z-index: 0;
    max-width: 256px;
    max-height: 256px;
    object-fit: contain;
}

#basicinfo #name, #basicinfo #ID, #basicinfo #description, #basicinfo #email, #basicinfo #url{
    width: 512px;
    height: 40px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    font-size: 24px;
}

#uploadLogoForm{
    width: 300px;
}

#basicinfo .title{
    width: 30%;
    color: gray;
    font-size: 20px;
}

#logotitle{
    display: inline;
    font-size: 16px;
}

#basicinfo .content{
    width: 70%;
    height:100%;
    border: 2px #9ad7a4 solid;
    border-radius: 10px;
    overflow:scroll;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

#carts{
    margin: 20px;
    margin-left: 0;
    width: 40vw;
    min-width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    padding-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


#cartDetails{

    width: 100%;
    max-width: 700px;
    height: 600px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}


#cartDetails .peritem{
    height: 300px;
    width: 550px;
    margin-bottom: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

#cartDetails .peritem div{
    height: 260px;
    background-color: white;
    margin: 3px;
    font-weight: bold;
}

#cartDetails .peritem .left_pic{
    width : 300px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#cartDetails .peritem .left_pic img{
    max-width : 160px;
    max-height : 160px;
}



#cartDetails .peritem .right_description{
    padding-left: 10%;
    width : 400px;
    text-align: left;
    position: relative;
}

#cartDetails .peritem .right_description .delete{
    height: 30px;
    width : 30px;
    font-size: 16px;
    position: absolute;
    left:calc(100% - 36px);
    color: red;
    top:0;
    z-index: 1000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#cartDetails .peritem .right_description p{
    width : 100%;
}
#cartDetails .peritem .right_description h3{
    width : 100%;
    margin-top: 12px;
}

#totalPrice{
    height: 50px;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 10px;
}

#sendOrder{
    padding: 0;
}

#sendOrder:active{
    background-color: white;
    color: #9ad7a4;
    box-shadow: 0 0 0 rgba(0,0,0,0.0);
}

#creditCardinput{
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

#creditCardinput div{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#creditCardinput button{
    height: 60px;
    width: 200px;
    background-color: #9ad7a4;
    color: white;
    font-weight: bold;
    font-size: 24px;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}

#creditCardinput button:hover {
    margin-top: 2px;
}


#buy{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 195, 255);
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
}

#UploadDetails{
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    margin-left: 0;
    flex-direction: column;

}

#UploadDetails form{
    height: 600px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 20px;
    width: 600px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    margin: 20px;
    margin-left: 0;
}

#UploadDetails .product_li{
    background-color: white;
    width: 90%;
    height: 50px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 4px lightgray;
    border-radius: 4px;
}

#UploadDetails .left_li{
    height: 50px;
    width:40%;
    font-size: 16px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px lightgray solid;

}

#UploadDetails .left_li p{
    margin: 0;

}

#UploadDetails .right_li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:70%;
}

#UploadDetails .right_li input{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgb(120,120,120);
    margin: 0;
    padding: 0;
}

#UploadDetails .right_li input::placeholder {
    color: lightgray;
    opacity: 1;
  }
  

#UploadDetails .right_li select{
    height: 48px;
    width: 120px;
    text-align: center;
    border: none;
    color: rgb(120,120,120);
    background-color: white;
    border-radius: 6px;
    font-size: 16px;
}

#UploadDetails .productImgUpload input{
 height: 21px;
 width: 200px;
 display: inline-flex;
 align-items: center;
 justify-content: center;
}


#orderSection{
    width: 70%;
    height: 80vh;
    margin: 20px;
    min-width: 600px;
    margin-left: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

#orderSection #loading{
 width: 100%;
 height: 80vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

#orderSection .orderitem{
    margin-top: 30px;
    width: 95%;
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#orderSection .order_description{
    width: 30%;
    min-width: 210px;
    height: 240px;
    background-color: white;
    margin-right: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px rgba(120,120,120, 0.4) solid;

}
#orderSection .order_description div{
display: inline-flex;
align-items: center;
justify-content: flex-start;
}


#new_product_upload{
    background-color: #9ad7a4;
    height: 40px;
    width: 100px;
    border: 1px #9ad7a4 solid;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}



#new_product_upload{
    background-color: #9ad7a4;
    height: 40px;
    width: 100px;
    border: 1px #9ad7a4 solid;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}



#orderSection .order_description p{
margin: 0;
font-size: 20px;
font-weight: bold;
color: gray;
margin-top: 10px;

}

#orderSection .order_imgs{
    width: 60%;
    height: 240px;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
}

#orderSection .order_imgs .single_product_in_order{
    color: gray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

#orderSection .order_imgs .single_product_in_order p{
margin: 0;
margin-top: 1px;
}

.order_imgs img{
    width: 150px;
    height: 140px;
    object-fit: contain;

}





/********** host product list **********/

#hostproductlist{

    /* height: 100%;
    width:70%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: scroll; */
    margin: 20px;
    margin-left: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    min-width: 600px;
    width:70%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll; 
}





.host_owned_single_product{
    width: 280px;
    height: 460px;
    margin: 10px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.single_product_info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.single_product_info p{
    margin: 0;
    margin-right: 5px;
}

.single_product_info div{
    display: inline-flex;
    width: 100%;
}

.host_owned_single_product .host_owned_product_img{
    width:200px;
    height:200px;
    margin-bottom: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.host_owned_single_product .host_owned_product_name{
    font-size: 20px;
    font-weight: bolder;
}

.host_owned_single_product .host_owned_product_price{
    font-size: 20px;
    font-weight: bolder;
}

.host_owned_product_size, .host_owned_product_color,
.host_owned_product_stock, .host_owned_product_description,
.host_owned_product_id{
    font-size: 16px;
}





@media screen and (min-width: 1500px){

    #UploadDetails form{
        height: 700px;
    }
    
}

@media screen and (max-width: 1500px){
    #basicinfo{
        padding-top: 1%;
        min-width: 400px;
    }

    #basicinfo .content{
        font-size: 18px;

    }
    #basicinfo #name, #basicinfo #ID, #basicinfo #description, #basicinfo #email,#basicinfo #url{
        width: 360px;
        height: 40px;
        display: inline-flex;
        text-align: center;
        align-items: center;
        margin-top: 16px;
        font-size: 18px;
    }
   
   


    .topitem{
        border-bottom: 0px;
        border-radius: 20px 20px 0 0;
    }
    .bottomitem{
        border-radius:  0 0 20px 20px;
    }

    #settings{
        min-width: 600px;
        height: calc(100vh - 100px);
        width:100%;
    }
    
    #cartDetails{
        margin-top: 1%;
    }
}