body{
    padding:0;
    margin:0;
}

p{
    width: 100%;
    text-align: center;
    margin: 0;
    padding:0;
}


#category{
    width:100%;
    height: 100px;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
}

#category #title{
    display: inline-flex;
    font-size: 30px;
    font-weight: 400;
    color: gray;
    align-items: center;
    
}

#category #title p{
    width: 100%;
    text-align: center;
}

.category_box p{
    font-size: 32px;
}

#category #category_box_container{

    width: calc(100% - 200px);
    height: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

}

#category .category_box{
    width: 140px;
    height: 80px;
    margin: 40px;
    font-size: 20px;
    color: #9ad7a4;
    border: 2px #9ad7a4 solid;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
}
#category .category_box p{
    width: 100%;
    text-align: center;
}

#rooms{
    width: 100%;
    min-height: calc(100vh - 300px);
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap ;
    box-sizing: border-box;
}


.circle{
    width: 36px;
    height: 21px;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    display: inline-flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-color: rgb(255, 255, 255, 0);
}

.innercircle{
    width: 10px;
    height: 10px;
    border-radius: 12px;
    border-width: 0px;
    background-color: white;
}

.single_room{
    width: 280px;
    height: 320px;
    margin: 40px;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    cursor: pointer;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
}


.single_room .room_title{
    color: white;
    font-size: 22px;

    height: 30px;
    text-align: left;
    display: inline-flex;
    align-items: center;
    margin: 5px;
    border-radius:10px;
    background-color: rgba(128,128,128,0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.single_room .room_title p{
    text-align: center;
    padding:0 8px;
}

.single_room .room_hostname{
    color: white;
    font-size: 22px;
    font-weight: bolder;
    width: 100%;
    height: 120px;
    display: inline-flex;
    align-items: flex-end;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.8));

    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0,-100%);

}

.single_room .room_hostname p{
margin-left: 10px;
margin-bottom: 10px;
text-align: left;
}

