body{
    padding:0;
    margin:0;
}

p{
    width: 100%;
    text-align: center;
    margin: 0;
    padding:0;
}


#category{
    width:100%;
    height: 200px;
    display: inline-flex;
}

#category #title{
    display: inline-flex;
    font-size: 40px;
    color: gray;
    width: 200px;
    height: 200px;
    align-items: center;
    
}

#category #title p{
    width: 100%;
    text-align: center;
}
#category #category_box_container{

    width: calc(100% - 200px);
    height: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

}

#category .category_box{
    width: 140px;
    height: 80px;
    margin: 40px;
    font-size: 20px;
    color: #9ad7a4;
    border: 2px #9ad7a4 solid;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
}
#category .category_box p{
    width: 100%;
    text-align: center;
}

#rooms{
    width: 100%;
    height: calc(100vh - 300px);
    padding-top: 80px;
    display: inline-flex;
    justify-content: center;
}


.circle{
    width: 29px;
    height: 29px;
    border-radius: 20px;
    border: 2px #808080 solid;
    display: inline-flex;
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.innercircle{
    width: 16px;
    height: 16px;
    border-radius: 12px;
    border-width: 0px;
    background-color: #808080;
}

.single_room{
    width: 400px;
    height: 600px;
}


.single_room .room_title{
    background-color: #9ad7a4;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    width: 100%;
    height: 50px;
    text-align: center;
    display: inline-flex;
    align-items: center;
}

.single_room .room_hostname{
    background-color: #9ad7a4;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    width: 100%;
    height: 50px;
    text-align: center;
    display: inline-flex;
    align-items: center;
}

.single_room .room_pic{
    background-color: gray;
    color: white;
    width: 100%;
    height: 500px;
    text-align: center;
    display: inline-flex;
    align-items: center;



    font-size: 40px;
    font-weight: bolder;
}