#top_bar{
  width:100%;
  height: 100px;
  background-color: #9ad7a4;
  display: flex;
  align-items: center;
}


#top_bar #leftside{
  width:50%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

#top_bar #leftside #watchbuylogo{
  width:60px;
  height: 60px;
  background-image: url('../images/favicon.png');
  background-repeat:no-repeat;
  background-size:cover;
}

#top_bar #rightside{
  width:50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

#top_bar #rightside .menulogo{
  width:60px;
  height: 60px;
  background-image: url('../images/menu.png');
  background-repeat:no-repeat;
  background-size:cover;
}

#menulist{
  width: 400px;
  height: 600px;
  background-color: #9ad7a4;
  text-align: right;
  padding-right: 50px;
  position: absolute;
  left: calc(100% - 400px);
  display: inline-flex;
  flex-direction: column;
}

#icon_container{
  width:100%;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

#menulogo_in_menulist{
  display: inline-block;
  margin-right: 55px;
  width: 50px;
  height: 50px;
  background-image: url('../images/cross.png');
  background-repeat:no-repeat;
  background-size:cover;
}


#list_container{
  width:100%;
  height: 100px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.menuitem{
  width:100%;
  height:125px;
  font-size: 25px;
  line-height: 125px;
  border-bottom: 2px white solid;
  color: white;
}

.menuitem:hover{
  color: #9ad7a4;
  background-color: white;
}