body{
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
}

#top_bar{
  width:100%;
  height: 100px;
  background-color: #9ad7a4;
  display: flex;
  align-items: center;
  position: relative;
  top:0;
  left:0;
  z-index: 5000;
}


#top_bar #leftside{
  width:50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}

#top_bar #leftside #watchbuylogo{
  width:100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image:url("../images/favicon.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
}




#top_bar #leftside #roomlistbtn{
  width:100px;
  height: 100px;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#top_bar #leftside #roomlistbtn:hover{

  color: #9ad7a4;
  background-color: white;
}


#top_bar #rightside{
  width:50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

#top_bar #rightside .menulogo{
  width:60px;
  height: 60px;
  background-image: url('../images/menu.png');
  background-repeat:no-repeat;
  background-size:cover;
  cursor: pointer;
}

#menulist{
  width: 400px;
  background-color: #9ad7a4;
  text-align: right;
  position: absolute;
  z-index: 99999;
  left: calc(100% - 400px);
  display: inline-flex;
  flex-direction: column;
}

#icon_container{
  width:100%;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

#menulogo_in_menulist{
  display: inline-block;
  margin-right: 55px;
  width: 50px;
  height: 50px;
  background-image: url('../images/cross.png');
  background-repeat:no-repeat;
  background-size:cover;
}


#list_container{
  width:100%;
  display: inline-flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.menuitem{
  width:100%;
  height:125px;
  font-size: 25px;
  border-bottom: 2px white solid;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuitem:hover{
  color: #9ad7a4;
  background-color: white;
  cursor: pointer;
}





