body{
    padding:0;
    margin:0;
}



#top_bar{
    width:100%;
    height: 100px;
    background-color: #9ad7a4;
}

#live_container{
    width:100%;
    min-height: 800px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row ;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#live, #chat, #productlist{
    height: 100%;
}
#productlist{
    width:30%;
    height: 600px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
    overflow: auto;
}

.item{
    width: 400px;
    height: 200px;
    border-radius: 2%;
    box-shadow: 3px 3px 6px #707070b3;
    margin-top: 20px;
    margin-right: 40px;
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.productimg{
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.productimg img{
    width: 140px;
    height: 200px;
}

.description{
    width: 260px;
    height: 200px;
}

#live{
    width:40%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#video{
    width:100%;
    max-width: 480px;
}

#chat{
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#msglog{
    height: 45%;
    width:70%;
    box-shadow: 6px 6px 18px #707070b3;
    overflow: auto;
}

#sendMessage{
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#hostMsg{
    text-align: left;
    color:white;
    margin-top: 10px;
    margin-left: 6px;
}

#hostMsg span{
    display: inline-block;
    background-color: #9ad7a4;
    border-radius: 5px;
    font-size: 20px;
    border-radius: 20px;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
}

#userMsg{
    text-align: right;
    color:white;
    margin-top: 10px;
    margin-right: 6px;
}

#userMsg span{
    display: inline-block;
    background-color: rgb(101, 101, 101);
    font-size: 20px;
    border-radius: 20px;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
}