<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/signup/host_signup.css' />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
  <%- include("../model/header/call-headers_for_not_logined.ejs") %>
  <div id='background'>
    <div id='container'>
      <div>
        <h1 id='title'>直播主註冊</h1>
      </div>
      <div>
        <input id='username' class='sign_info' type="text" name="username" placeholder="username">
      </div>
      <div>
        <input id='email' class='sign_info' type="text" name="email" placeholder="email">
      </div>
      <div>
        <form>
          <input id='password' class='sign_info' type="password" name="password" placeholder="password">
        </form>
      </div>
      <div>
        <input id='room_name' class='sign_info' type="text" name="room name" placeholder="room name">
      </div>
      <div>
        <button id='sendHostSignupInfo' class='sign_info_submit'>送出</button>
      </div>
    </div>
  </div>
</body>

<script>
  document.getElementById('sendHostSignupInfo').addEventListener('click', function () {

    let data = {
      name: document.getElementById("username").value,
      email: document.getElementById("email").value,
      password: document.getElementById("password").value,
      room_name: document.getElementById("room_name").value
    };

    if (data.name == '' || data.email == '' || data.password == '' || data.room_name == '') {

      console.log('Sign up info should not be empty.');
    } else {

      let CheckString = /^[A-Za-z0-9]*$/;
      let Checkemail = /^[A-Za-z0-9@.]*$/;
      if (CheckString.test(data.name) == true &&
        Checkemail.test(data.email) == true &&
        CheckString.test(data.password) == true &&
        CheckString.test(data.room_name) == true) {
        $.ajax({
          url: '/signup/host',
          type: "POST",
          dataType: "json",
          data: data,
          success: function (req) {
            window.location = '/roomlist';
          }
        })
      } else {
        console.log('Sign up info should be english character or number.');
      }
    }
  })
</script>

</html>