<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/signup/role.css' />
  
</head>

<body>

  <div id='background' style="height: 100vh;">
    <div id="main_title" class='rolediv'>
      <p>你是誰</p>
    </div>
    <div id="roles" class='rolediv'>
      <div id='host-ani'>
        <form id='hostform' method="POST" action='/signup'>
        <input type="text" name='name' value="host" style="display: none;">
        <div id='host' onclick="hostformSubmit()">
          <div><img src="/images/DJ_br.png"></div>
          <div class='title'>直 播 主</div>
        </div>
        </form>
      </div>
      <div id='user-ani'>
        <form id='userform' method="POST" action='/signup'>
          <input type="text" name='name' value="user" style="display: none;">
        <div id='user' onclick="userformSubmit()">
          <div><img src="/images/user_br.png"></div>
          <div class='title'>使 用 者</div>
        </div>
        </form>
      </div>
    </div>
  </div>
</body>

<script>
  function hostformSubmit(){
    document.getElementById("hostform").submit();
  }

  function userformSubmit(){
    document.getElementById("userform").submit();
  }
</script>
</html>