<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/signup/user_signup.css' />
</head>

<body>
  <div id='background'>
    <div id='container'>
      <div>
        <h1 id='title'>使用者註冊</h1>
      </div>
      <div>
        <input class='sign_info' type="text" name="username" placeholder="username">
      </div>
      <div>
        <input class='sign_info' type="text" name="email" placeholder="email">
      </div>
      <div>
        <input class='sign_info' type="text" name="password" placeholder="password">
      </div>
      <div>
        <button class='sign_info_submit'>送出</button>
      </div>
    </div>
  </div>
</body>

</html>