<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/signup/user_signup.css' />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
  <div id='background'>
    <div id='container'>
      <div>
        <h1 id='title'>使用者註冊</h1>
      </div>
      <div>
        <input id="username" class='sign_info' required type="text" name="username" placeholder="username">
      </div>
      <div>
        <input id="email" class='sign_info' type="text" name="email" placeholder="email">
      </div>
      <div>
        <form>
          <input id="password" class='sign_info' type="password" name="password" placeholder="password">
        </form>
      </div>
      <div>
        <button id='sendUserSignupInfo' class='sign_info_submit'>送出</button>
      </div>
    </div>
  </div>

</body>


<script>
  document.getElementById('sendUserSignupInfo').addEventListener('click', function () {

    var data = {
      name: document.getElementById("username").value,
      email: document.getElementById("email").value,
      password: document.getElementById("password").value
    };

    if (data.name == '' || data.email == '' || data.password == '') {

      console.log('Sign up info should not be empty.');

    } else {


      $.ajax({
        url: '/signup/user',
        type: "POST",
        dataType: "json",
        data: data,
        success: function (req) {
          //請求成功時處理
          console.log(req);
          window.location = '/signin';
        }
      })

    }

  })

</script>

</html>