body{
    background-color: #9ad7a4;
    min-width: 800px;
    font-family: "Helvetica Neue";
    color: white;
}


#background{
    height: 100vh;
    width: 100%;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    margin-bottom: 160px;
    text-align: center;
}

#title{
    font-size: 52px;
}


.sign_info{
    display: inline-block;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
    padding: 8px;
    padding-left: 15px;
    font-size: 24px;
    color: gray;
    border: white;
    width: 300px;
}

.sign_info_submit{
    height: 60px;
    border-radius: 140px;
    font-size: 24px;
    border: white;
    margin-top: 50px;
    width: 180px;
    padding: 8px;
    color: #9ad7a4;
}

.sign_info_submit:hover{
    height: 60px;
    border-radius: 140px;
    background-color: #9ad7a4;
    font-size: 24px;
    border: 2px white solid;
    margin-top: 50px;
    width: 180px;
    padding: 8px;
    color: white;
}


