<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/signin/signin.css' />
</head>

<body>
  <div id='background'>
    <div id='container'>
      <div>
        <h1 id='title'>登入</h1>
      </div>
      <div>
        <input class='sign_info' type="text" name="username" placeholder="username">
      </div>
      <div>
        <input class='sign_info' type="text" name="email" placeholder="email">
      </div>
      <div>
        <input class='sign_info' type="text" name="password" placeholder="password">
      </div>
      <div class='sign_select_wrapper'>
        <select class='sign_select'>
          <option value="host">直播主</option>
          <option value="user">使用者</option>
        </select>
      </div>
      <div>
        <button class='sign_info_submit'>送出</button>
      </div>
    </div>
  </div>
</body>

</html>