<div class='mainitem'>
    <div id='productimg'>
      <img id='mainimg' src="">
    </div>
    <div id='details'>
      <h2 id='price'></h2>
      <h1 id='product_name'></h1>
      <p id='size'></p>
      <p id='color'></p>
      <p id='stock'></p>
      <p id='description'></p>

    </div>

  </div>

  <div id='cartbtn-container'>
    <div id='addtoCart' class='posttoChat'>
      <div><img src="/images/cart.png" alt=""></div>
      <div id='Button_text'>加入購物車</div>
    </div>
    </div>