<div class='mainitem'>
    <div id='productimg'>
      <img id='mainimg' src="/images/shirt.jpg">
    </div>
    <div id='details'>
      <h1 id='product_name'>default</h1>
      <p id='price'>default</p>
      <p id='color'>default</p>
      <p id='size'>default</p>
      <p id='stock'>default</p>
      <p id='description'>default</p>
    </div>
    <div id='cartbtn-container'>
    <div id='addtoCart' class='posttoChat'>
      <div><img src="/images/cart.png" alt=""></div>
      <div id='Button_text'>加入購物車</div>
    </div>
    </div>
  </div>