<!-- <div id='menulist' style="visibility: hidden;">
    <div id='icon_container'>
        <div id='menulogo_in_menulist'>
        </div>
    </div>
    <div id='list_container'>
        <div id='basicinfo_btn' class='menuitem'>
            基本資訊
        </div>
        <div class='menuitem'>
            購物車
        </div>
        <div class='menuitem'>
            訂單查詢
        </div>
        <div class='menuitem'>
            登出
        </div>
    </div>
</div> -->
<div id='top_bar'>
    <div id='leftside'>
        <div id='watchbuylogo'>
        </div>
    </div>
    <div id='rightside'>
        <div id='menulogo' class='menulogo'>
        </div>
    </div>
</div>

<script>
    document.getElementById('menulogo').addEventListener('click', function () {
        document.getElementById('menulist').style.visibility = 'visible';
    })

    document.getElementById('menulogo_in_menulist').addEventListener('click', function () {
        document.getElementById('menulist').style.visibility = 'hidden';
    })

    document.getElementById('watchbuylogo').addEventListener('click', function () {
        window.location = '/roomlist';
    })

    document.getElementById('basicinfo_btn').addEventListener('click', function () {
        window.location = '/profile';
    })
</script>
