<div id='settings'>
    <div id='basicinfo'>
        <div id='logo'>
            <% if (loginStatus.logo) { %>
             <img src='<%= loginStatus.logo %>'>
                <% } else { %>
            <form action="/profile/logo_upload" method="post" enctype="multipart/form-data">
                <input type="file" name="logo" />
                <input type="text" name='username' value='<%= loginStatus.name %>' style="display:none;">
                <input type="text" name='role' value='host' style="display:none;">
                <input type="text" name='email' value='<%= loginStatus.email %>' style="display:none;">
                <input type="submit">
              </form>
              <% } %>

        </div>
        <div id='name'>
            <div class='title'>直播名稱</div>
            <div class='content'></div>
        </div>
        <div id='email'>
            <div class='title'>Email</div>
            <div class='content'></div>
        </div>
        <div id='ID'>
            <div class='title'>直播ID</div>
            <div class='content'></div>
        </div>
        <div id='description'>
            <div class='title'>關於我</div>
            <div class='content'></div>
        </div>
    </div>
</div>