<div id='settings'>
    <div id='basicinfo'>
        <div id='logo'>
             <img src='<%= loginStatus.logo %>'>
             <label for='logofile'><p>點我選擇大頭貼圖片</p></label>
        </div>
        <div id='uploadLogoFormDiv'>
            <form id='uploadLogoForm' enctype="multipart/form-data" style="display:none;">
                <div class='title' id='logotitle'><input id='logofile' type="file" name="logo" style='display:none;'/></div>
                <input  type="text" name='username' value='<%= loginStatus.name %>' style="display:none;">
                <input  type="text" name='role' value='host' style="display:none;">
                <input  type="text" name='email' value='<%= loginStatus.email %>' style="display:none;">
                <button id='logo_sumbit' type="submit">上傳</button>
              </form>
        </div>
        <div id='name'>
            <div class='title'>你的名稱</div>
            <div class='content'></div>
        </div>
        <div id='email'>
            <div class='title'>Email</div>
            <div class='content'></div>
        </div>
        <div id='url'>
            <div class='title'>直播網址</div>
            <div class='content'>rtmp://18.140.200.159/live</div>
        </div>
        <div id='ID'>
            <div class='title'>直播ID</div>
            <div class='content'></div>
        </div>
        <div id='description'>
            <div class='title'>關於我</div>
            <div class='content'></div>
        </div>
    </div>
</div>