<div id='settings'>
    <div id='basicinfo'>
        <div id='logo'>
        </div>
        <div id='name'>
            <div class='title'>直播名稱</div>
            <div class='content'></div>
        </div>
        <div id='email'>
            <div class='title'>Email</div>
            <div class='content'></div>
        </div>
        <div id='ID'>
            <div class='title'>直播ID</div>
            <div class='content'></div>
        </div>
        <div id='description'>
            <div class='title'>關於我</div>
            <div class='content'></div>
        </div>
    </div>
</div>