<div id='menulist' style="visibility: hidden;">
    <div id='icon_container'>
        <div id='menulogo_in_menulist'>
        </div>
    </div>
    <div id='list_container'>
        <div id='menuloginbtn' class='menuitem'>
            登入
        </div>
    </div>
</div>
<script>
    document.getElementById('menuloginbtn').addEventListener('click', function () {
        window.location = '/signin'
    })
    
</script> 