<div id='orderSection'>
    <div class='orderitem'>
        <div class='order_description'>
            <div>
                <p>訂單編號：</p>
                <p class='orderid'>12</p>
            </div>
            <div>
                <p>總金額：NT. </p>
                <p class='totalamount'>8000</p>
            </div>
            <div>
                <p>出貨狀態：</p>
                <p class='shipping'>未出貨</p>
            </div>
        </div>
        <div class='order_imgs'>
            <img src=''>
        </div>
    </div>
</div>