<div id='carts'>
<div id='cartDetails'>

</div>

<div id='totalPrice'>
    <div>
        <h1>總計：NT. &ensp;</h1>
    </div>
    <div id='totial_price_value'>
    </div>
</div>


<div id='creditCardinput'>
    <!-- <form action="/profile/payment" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_AisEhm6pGhI1H2P8P1FdOZfo00nTG1vHPY"
            data-amount="999" data-name="Tony" data-description="Example charge"
            data-image="" data-locale="auto"
            data-currency="hkd">  </script>
    </form> -->
    <form action="/checkout" method="POST">
        <input id="amount" name='amount' style="display: none;" readonly>
        <input id='AllProductIDinCart' name='AllProductIDinCart' style="display: none;" readonly>
        <input id='cart_email' name='email' style="display: none;" readonly>
        <button id='sendOrder'>確認送出訂單</button>
    </form>
</div>
</div>