<div id='cartDetails'>

</div>

<div id='totalPrice'>
    <div>
        <h1>總計：NT. &ensp;</h1>
    </div>
    <div id='totial_price_value'>
    </div>
</div>


<div id='creditCardinput'>
    <div>
    <div class='fakebutton'>4214</div>
    <div class='fakebutton'>4214</div>
    <div class='fakebutton'>4214</div>
    <div class='fakebutton'>4214</div>
    <div class='lastbutton'>01/25</div>
    </div>
    <div id='buy'>結帳</div>
</div>