<div id='carts'>
<div id='cartDetails'>

</div>

<div id='totalPrice'>
    <div>
        <h1>總計：NT. &ensp;</h1>
    </div>
    <div id='totial_price_value'>
    </div>
</div>


<div id='creditCardinput'>
    <form action="/checkout" method="POST">
        <input id="amount" name='amount' style="display: none;" readonly>
        <input id='AllProductIDinCart' name='AllProductIDinCart' style="display: none;" readonly>
        <input id='cart_email' name='email' style="display: none;" readonly>
        <button id='sendOrder'>確認送出訂單</button>
    </form>
</div>
</div>